body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdad6;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 8px;
  background-color: #b89789;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

nav ul li a:hover {
  background-color: #ef5e1b;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 220px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.dropdown-content a {
  color: #444;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  font-weight: bold;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #ffdad6;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    width: 100%;
    text-align: center;
  }
}
